@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFF;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    padding-top:1em;
    
}
.select-left, .profile-right{
    display:flex;
    padding-left: 3em;
    padding-right: 3em;
   
}
select{
    border:none;
}
.profile-right p, .profile-right img{
    cursor: pointer;
}
 .search{
    display: flex;
    padding-left: 10px;
    color:grey;
 }
 img.search{
    padding-left: 10px;
 }
 p.top{
    font-weight:100;
 }
 @media screen and (max-width: 768px){
    .header-container{
        display: none;
    }
 }